/*.button:hover {*/
/*    -fx-background-color: transparent;*/
/*}*/
.button{
    -fx-background-color:  #007ACC;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-border-color:#007ACC;
}
.button.text{
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: transparent;
}
.button:hover .text{
    -fx-fill: #007ACC;
}
